.menu ul{
    list-style: none;
    position: relative;
}

.menu{
    position: fixed;
    width: 100%;
    height: 120px;
    
    top: 5%;
    justify-content: center;
    background-color:  rgb(186, 245, 245);
    display: flex;
    left: 0%;
}



nav ul li{
    list-style: none;
    display: inline-block;
}

li a{
    text-decoration: none;
    position: relative;
    font-size: 1.5em;
    display: block;
    padding: 14px;
    color: #313131;
    overflow: hidden;
}

li a:hover{
    text-decoration:  overline;
}

label[for="bt_menu"] {
    position: fixed;
    padding: 1%;
    background-color: #222;
    color: #fff;
    font-family: 'Arial';
    text-align: center;
    font-size: 1.5em;
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: none;
    top: 0;
    
    
   }
   

   #bt_menu {
    display: none;
    margin-top: 0em;
    
   }

   @media (max-width: 800px) {
    label[for="bt_menu"] {
     display: block;
     position: fixed;
     border-top: 0em;
     margin: 0;
     z-index: 5;

     
    }
    
  
    #bt_menu:checked ~ .menu {
     margin-left: 0;
     
    }
    #bt_menu:checked ~ .copor{
        background-color: rgb(0, 0, 0, 0.6);
        
        
    }
  
    .menu {
     position: fixed;
     background-color:  rgb(186, 245, 245);
     margin-top: 0px;
     margin-left: 0px;
     margin-left: -120%;
     transition: all .4s;
     height: 60%;
     z-index: 4;
     
    }
  
    .menu ul li {
     width: 100%;
     float: none;
     position: relative;
     
    }
    

    .menu  a{
        text-decoration: none;
        position: relative;
        font-size: 15px;
        display: block;
        color: #313131;
        overflow: hidden;
    }
    .menu ul li:hover ul {
     height: auto;
     max-height: 200px;
    }
   }